html,body {
  height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  height: 50px;
  width: 100%;
  z-index:99;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}

.header_icon {
  padding-top: 10px;
  float:left;
}

header ul {
  padding: 0px 60px;
}

.nav_right {
  float: right;
}

header li {
  float: left;
  padding: 0px 20px;
}

.main {
  background-color: rgb(241, 241, 241);
  z-index: 1;
  height: 100%;
  padding-top: 50px;
  margin-top: 50px;
  overflow: scroll;
}

.container {
  margin: 30px auto;
  width: 50%;
  background-color: rgb(255, 255, 255);
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}

.container_center {
  text-align: center;
  margin: 0 auto;
  width: 50%;
  background-color: rgb(255, 255, 255);
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}

.blog_content {
  padding: 10px 0px;
  border-bottom: solid 1px rgb(241, 241, 241);
}

.blog_form textarea {
  border-style: none;
  background-color: rgb(241, 241, 241);
  border-radius: 5px;
  width: 80%;
  height: 150px;
}

.btn input {
  border-style: none;
  background-color: rgb(97, 132, 255);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.btn input:hover {
  opacity: 0.8;
}

.flash {
  position: fixed;
  top: 50;
  width: 100%;
  text-align: center;
  background-color: rgb(249, 160, 118);
}
